.main {
  min-height: 100vh;
  padding: 6.5rem 0 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 0;
}

.main_board {
  display: flex;
  width: 70rem;
}

@media (max-width:560px) {
  .main_board {
    width: 320px;
  }
}

@media (min-width:560px) {
  .main_board {
    width: 540px;
  }
}

@media (min-width:780px) {
  .main_board {
    width: 760px;
  }  
}

@media (min-width:1080px) {
  .main_board {
    width: 1060px;
  }  
}


.board_left {
  margin: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.board_right {
  margin: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
}

@media (max-width:780px) {
  .main_board {
    flex-direction: column;
  }
  .board_left {
    width: 100%;
  }
  .board_right {
    width: 100%;
  }
}

.board_iframe {
  background: white;
  border: 0.1rem solid #aaaaaa;
  border-radius: 0.75rem;
  height: 100rem;
  margin: 1rem;
  overflow: none;
}

.addScheduleWindow_background {
  margin: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.addScheduleWindow {
  height: 11.25rem;
  width: 50rem;
  background-color: white;
}

.addScheduleWindow_title {
  width: 100%;
}

.addScheduleWindow_title > div {
  display: flex;
  align-items: center;
}

.addScheduleWindow_title > div > h1:nth-child(1) {
  padding: 0 1rem;
  text-align: right;
  margin: 0;
  color: white;
}

.addScheduleWindow_title > div > h1 {
  padding: 0 1rem;
  text-align: right;
  margin: 0;
}

.addScheduleWindow_title > div > h2 {
  flex-grow: 1;
  margin: 1rem;
  text-align: center;
}

.addScheduleWindow_head {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.addScheduleWindow_grow {
  margin: 0 2rem;
}

.addScheduleWindow_grow > div {
  display: flex;
}

.addScheduleWindow_grow > div > h4 {
  margin: 0;
}

.addScheduleWindow_grow > div >select {
  text-align: center;
  font-size: 1rem;
}

.addScheduleWindow_body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.addScheduleWindow_body > h3 {
  color: white;
  background-color: #52d7ff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.showScheduleWindow_background {
  margin: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.showScheduleWindow {
  width: 30rem;
  background-color: white;
}

.showScheduleWindow_title {
  width: 100%;
}

.showScheduleWindow_title > div {
  display: flex;
  align-items: center;
}

.showScheduleWindow_title > div > h1:nth-child(1) {
  padding: 0 1rem;
  text-align: right;
  margin: 0;
  color: white;
}

.showScheduleWindow_title > div > h1 {
  padding: 0 1rem;
  text-align: right;
  margin: 0;
}

.showScheduleWindow_title > div > h2 {
  flex-grow: 1;
  margin: 1rem;
  text-align: center;
}

.showScheduleWindow_body {
  width: 100%;
}

.showScheduleWindow_lectureList > h5 {
  width: auto;
  margin: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.showScheduleWindow_scheduleList > div {
  display: flex;
  align-items: center;
}

.showScheduleWindow_scheduleList > div > h5 {
  width: auto;
  margin: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

.showScheduleWindow_scheduleList > div > img {
  height: 2rem;
  padding: 0.25rem;
  margin-right: 0.75rem;
  background-color: #92e6ff;
  border-radius: 0.25rem;
}





.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}




/** BEGIN CSS **/

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@keyframes loading-text-opacity {
  0% {
    opacity: 0
  }

  20% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@-moz-keyframes loading-text-opacity {
  0% {
    opacity: 0
  }

  20% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@-webkit-keyframes loading-text-opacity {
  0% {
    opacity: 0
  }

  20% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

@-o-keyframes loading-text-opacity {
  0% {
    opacity: 0
  }

  20% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

.loading_container,
.loading {
  height: 15rem;
  position: relative;
  width: 15rem;
  border-radius: 100%;
}

.loading_container {
  margin: 40px auto
}

.loading {
  border: 0.5rem solid transparent;
  border-color: transparent #92e6ff transparent #92e6ff;
  -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
  -moz-transform-origin: 50% 50%;
  -o-animation: rotate-loading 1.5s linear 0s infinite normal;
  -o-transform-origin: 50% 50%;
  -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
  -webkit-transform-origin: 50% 50%;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  transform-origin: 50% 50%;
}

.loading_container:hover .loading {
  border-color: transparent #4281ff transparent #4281ff;
}

.loading_container:hover .loading,
.loading_container .loading {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.loading_text {
  -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
  -o-animation: loading-text-opacity 2s linear 0s infinite normal;
  -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
  animation: loading-text-opacity 2s linear 0s infinite normal;
  color: #92e6ff;
  font-family: "Helvetica Neue, " Helvetica", ""arial";
  font-size: 2rem;
  font-weight: bold;
  margin-top: 6rem;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 15rem;
}

.loading_main {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}