.div_grow {
  flex-grow: 1;
}

.lecture_board {
  padding: 0.75rem;
  background-color: white;
}

.lecture_board img {
  width: 2rem;
}

.lecture_week {
  display: flex;
  font-size: 1.5rem;
}

.lecture_week > h1 {
  text-align: center;
  flex-grow: 1;
}

.lecture_week > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.lecture_week > div > h1 {
  width: fit-content;
  margin: 0;
}

.lecture_week > div > h5 {
  color: #aaaaaa;
  width: fit-content;
  margin: 0;
}

.lecture_item {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1.5rem;
  background-color: #eeeeee;
}

.lecture_top_bar {
  display: flex;
  align-items: center;
}

.lecture_top_bar > h3 {
  margin: 0;
  margin-right: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.lecture_notice {
  display: flex;
  margin: 1rem 0;
  width: 100%;
}

.lecture_notice > img {
  margin-right: 0.5rem;
}

.lecture_notice > marquee {
  padding: 0 0.75rem;
  flex-grow: 1;
  margin: 0;
  font-size: 1.25rem;
}

.lecture_notice > marquee > div {
  display: flex;
  font-size: 1.25rem;
}

.lecture_notice > marquee > div > h6 {
  margin: 0 10rem;
  display: flex;
  font-size: 1.25rem;
}

.lecture_content {
  position: relative;
  display: flex;
  flex-grow: 1;
  height: inherit;
  max-height: 15rem;
}
  
.lecture_subjects {
  flex-grow: 1;
  width: 40%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.lecture_subjects::-webkit-scrollbar {
    display: none;
}

.lecture_subject {
  align-items: center;
  display: flex;
  margin: 1rem 0;
}

.lecture_subject_empty {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.lecture_subject_empty > h3 {
  margin: 0;
}

.lecture_subject img {
  width: 1.5rem;
}

.lecture_subject h5 {
  margin: 0 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.lecture_todolist {
  top: 0;
  width: 50%;
  height: inherit;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.lecture_todolist::-webkit-scrollbar {
    display: none;
}

.lecture_todolist_titlebar {
  padding: 0 0.25rem 0.5rem;
  display: flex;
  align-items: center;
}

.lecture_todolist_titlebar > h4 {
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.lecture_todolist_titlebar > div {
  padding: 0.25rem;
  background-color: #009bcb;
  border-radius: 0.25rem;
}

.lecture_todolist_titlebar > div > h4 {
  padding: 0 0.25rem;
  color: white;
  margin: 0;
}

.lecture_todolist_content {
  display: flex;
  flex-direction: column;
}

.lecture_todolist_item {
  margin: 0.25rem 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.lecture_todolist_check {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
}

.lecture_todolist_title {
  width: 50%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-right: 0.25rem;
}

.lecture_todolist_title > h5 {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

.lecture_todolist_item > img {
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 0.3rem;
  margin-left: 0.25rem;
  padding: 0.3rem;
  background-color: #009bcb;
}

.lecture_todolist_title_empty {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.lecture_todolist_title_empty > h3 {
  margin: 0;
}

.lecture_todolist_content hr {
  margin: 0;
}